#content
    div.page-header
        div.row
            div.input-group
                input#magnet-input.form-control(type='text', placeholder='Add magnet')
                span.input-group-btn
                    button#menu-add-magnet.btn.btn-default(role='presentation') Go
    div#menu.nav.nav-tabs
    div#dl-content
p exemple:
p Book -> 'magnet:?xt=urn:btih:C472D99E7C2260D97F063298E751DA975FA19B19&dn=How+to+learn+seo%2Cphp%2Cwordpress+In+telugu&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A80&tr=udp%3A%2F%2Fopen.demonii.com%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2F9.rarbg.to%3A2710%2Fannounce&tr=udp%3A%2F%2Ftracker.trackerfix.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce'


p ArchLinux -> 'magnet:?xt=urn:btih:252b8cb7144fa583de1a68a0298e1ee255b7c7ac&dn=archlinux-2015.09.01-dual.iso&tr=udp://tracker.archlinux.org:6969&tr=http://tracker.archlinux.org:6969/announce'
